.detail{padding: 100px 50px;}
.detail h3{ border-bottom: 1px solid #ddd; padding-bottom: 5px;}
.text{ border:  1px solid #ddd ; padding: 50px;}
.title{padding-bottom: 5px; border-bottom: 1px solid #ddd;}
.content{margin-top: 10px;}